<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>thirty.smrwns.me</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

	<header>
		<nav>
			<a href="#"><button type="button" class="btn btn-default">smrwns</button></a>
			<a href="#"><button type="button" class="btn btn-default">smrwns</button></a>
			<a href="#"><button type="button" class="btn btn-default">smrwns</button></a>
			<a href="#"><button type="button" class="btn btn-default">smrwns</button></a>
		</nav>
	</header>
	<article>
		<article>screen</article>
		<article>major menu summary</article>
	</article>
	
	<aside>aside</aside>
	<footer>footer</footer>
	
	<!-- <h1>Hello, word!</h1>
	<button type="button" class="btn btn-default">Default</button>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script> -->
</body>
</html>