<meta charset="utf-8">
<script></script>
<article>
	<article>
		<section></section>
		<section>
			<!-- 글 -->
			<div>
				<div class="info-post">
					<span class="title">제목 부분</span>
					<span class="date-post">2015.03.06 19:53</span>
				</div> 
				<div class="content-post">내용 시작<br/><br/><br/><br/>내용 끝</div>
				<div>
					<span class="function-post-left">
						<span class="export-facebook">Facebook</span>
						<span class="export-twitter">Twitter</span>
						<span class="export-url">url</span>
					</span>
					<span class="function-post">
						<span class="label label-primary">INSERT</span>
						<span class="label label-warning">UPDATE</span>
						<span class="label label-danger">DEL</span>
					</span>
				</div>
				<nav class="text-center">
					<ul class="pagination pagination-sm">
						<li>
							<a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
						</li>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">6</a></li>
						<li><a href="#">7</a></li>
						<li><a href="#">8</a></li>
						<li><a href="#">9</a></li>
						<li><a href="#">10</a></li>
						<li>
							<a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
						</li>
					</ul>
				</nav>
			</div>
			<hr>
			<!-- 덧글 -->
			<div>
				<div class="content-comment">덧글 시작<br/><br/>덧글 끝</div>
				<div>
					<span class="info-comment">
						<span class="writer-comment">smrwns</span>
						<span>2015.03.06 16:35</span>
					</span>
					<span class="function-comment">
						<span class="glyphicon glyphicon-edit" style="font-size: 13px; color: #008080;"></span>
						<span class="glyphicon glyphicon-remove" style="font-size: 13px; color: #800000 ;"></span>
						<span class="glyphicon glyphicon-list" style="font-size: 13px; color: #333 ;"></span>
					</span>
				</div>
				<div class="content-comment">덧글 시작<br/><br/>덧글 끝</div>
				<div>
					<span class="info-comment">
						<span class="writer-comment">smrwns</span>
						<span>2015.03.06 16:35</span>
					</span>
					<span class="function-comment">
						<span class="glyphicon glyphicon-edit" style="font-size: 13px; color: #008080;"></span>
						<span class="glyphicon glyphicon-remove" style="font-size: 13px; color: #800000 ;"></span>
						<span class="glyphicon glyphicon-list" style="font-size: 13px; color: #333 ;"></span>
					</span>
				</div>
				<div class="content-comment">덧글 시작<br/><br/>덧글 끝</div>
				<div>
					<span class="info-comment">
						<span class="writer-comment">smrwns</span>
						<span>2015.03.06 16:35</span>
					</span>
					<span class="function-comment">
						<span class="glyphicon glyphicon-edit" style="font-size: 13px; color: #008080;"></span>
						<span class="glyphicon glyphicon-remove" style="font-size: 13px; color: #800000 ;"></span>
						<span class="glyphicon glyphicon-list" style="font-size: 13px; color: #333 ;"></span>
					</span>
				</div>
				<nav class="text-center">
					<ul class="pagination pagination-sm">
						<li>
							<a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
						</li>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">6</a></li>
						<li><a href="#">7</a></li>
						<li><a href="#">8</a></li>
						<li><a href="#">9</a></li>
						<li><a href="#">10</a></li>
						<li>
							<a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
						</li>
					</ul>
				</nav>
				<div>덧글달기</div>
			</div>
		</section>
	</article>
</article>