@CHARSET "utf-8";
header, section, article	{ max-width: 900px; margin: 0 auto; }
footer	{ max-width: 900px; height: 70px; margin: 0 auto; background-color: #f8f8f8; border: 1px solid #e7e7e7; border-radius: 4px; }

.text-center{ text-align: center; }
.move-top1	{ margin-top: -10px; }

.export-facebook {
	background-color: #4e69a2; color: #fff; border-radius: 3px;
	padding-left: 3px;
	padding-right: 3px;
	font-weight: 700;
	font-size: 13px;
}
.export-twitter	{
	background-color: #0084B4; color: #fff; border-radius: 3px;
	padding-left: 3px;
	padding-right: 3px;
	font-weight: 700;
	font-size: 13px;
}
.export-url {
	background-color: #555; color: #fff; border-radius: 3px;
	padding-left: 3px;
	padding-right: 3px;
	font-weight: 700;
	font-size: 13px;
}